@import 'config';

body{
    font-family: $font;
}
header{
    width: 100%;

    #logo{
        align-items: center;
            text-align: center;

        & img{

            width: 100px;
            height: 100px;
        }
    }
}
.contact{
    min-height: 100%;
    padding: 5vh 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .containerForm{
        position: relative;
        width: 100%;
        max-width: 1000px;
        padding: 50px;
        background: $secondary-color;
        -webkit-border-top-right-radius: 166px;
        -webkit-border-bottom-left-radius: 166px;
        -moz-border-radius-topright: 166px;
        -moz-border-radius-bottomleft: 166px;
        border-top-right-radius: 166px;
        border-bottom-left-radius: 166px;
        overflow: hidden;
        backdrop-filter: blur(5px);

        & h2
        {
            width: 100%;
            text-align: center;
            color: $primary-color;
            font-size: 36px;
            font-family: $font;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        & h3{
            width: 100%;
            text-align: center;
            color: red;
        }
        & .row100{
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            & .col{
                position: relative;
                width: 100%; 
                padding: 0 10px;
                margin: 30px 0 20px;
                
                & .inputBox{
                    position: relative;
                    width: 100%;
                    height: 40px;
                    color: $primary-color;
                    
                }
                & .inputBox input,
                & .inputBox textarea
                {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    padding: 0 10px;
                    z-index: 1;
                    color: $secondary-color;
                }
                & .inputBox .text
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 40px;
                    font-size: 18px;
                    font-family: $font;
                    text-transform: uppercase;
                    padding: 0 10px;
                    display: block;
                    transition: 0.5s;
                    pointer-events: none;
                }
                & .inputBox input:focus + .text,
                & .inputBox input:valid + .text,
                & .inputBox textarea:focus + .text,
                & .inputBox textarea:valid + .text
                {
                    top: -35px;
                    left: -10px;
                    color: $primary-color;
                }
                & .inputBox .line
                {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transition: 0.5s;
                    border-radius: 2px;
                    pointer-events: none;
                }
                & .inputBox input:focus ~ .line,
                & .inputBox input:valid ~ .line
                {
                    height: 100%;
                }
                & .inputBox .textarea
                {
                    position: relative;
                    width: 100%;
                    height: 100px;
                    padding: 10px 0;
                }
                & .inputBox textarea:focus ~ .line,
                & .inputBox textarea:valid ~ .line
                {
                    height: 100%;
                }
             }
             & #send{
                text-align: center;
            }
            & a {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                color: $primary-color;
                font-size: 16px;
                font-weight: 800;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                transition: .5s;
                margin-top: 40px;
                letter-spacing: 4px
            }
              
            & a:hover {
                background: $primary-color;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px $primary-color,
                            0 0 25px $primary-color,
                            0 0 50px $primary-color,
                            0 0 100px $primary-color;
            }
              
            & a span {
                position: absolute;
                display: block;
            }
              
            & a span:nth-child(1) {
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent, $primary-color);
                animation: btn-anim1 1s linear infinite;
            }
              
            @keyframes btn-anim1 {
                0% {
                  left: -100%;
                }
                50%,100% {
                  left: 100%;
                }
            }
              
            & a span:nth-child(2) {
                top: -100%;
                right: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(180deg, transparent, $primary-color);
                animation: btn-anim2 1s linear infinite;
                animation-delay: .25s
            }
              
            @keyframes btn-anim2 {
                0% {
                  top: -100%;
                }
                50%,100% {
                  top: 100%;
                }
            }
              
            & a span:nth-child(3) {
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(270deg, transparent, $primary-color);
                animation: btn-anim3 1s linear infinite;
                animation-delay: .5s
            }
              
            @keyframes btn-anim3 {
                0% {
                  right: -100%;
                }
                50%,100% {
                  right: 100%;
                }
            }
              
            & a span:nth-child(4) {
                bottom: -100%;
                left: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(360deg, transparent, $primary-color);
                animation: btn-anim4 1s linear infinite;
                animation-delay: .75s
            }
              
            @keyframes btn-anim4 {
                0% {
                  bottom: -100%;
                }
                50%,100% {
                  bottom: 100%;
                }
            }
        }
    }
}